* {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url("../imgs/gray.png");
}

.navbar {
  background-color: #e3f2fd;
}

a {
  color: black;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.active {
  background-color: salmon;
  color: black;
}

.imgs {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 4em;
  display: inline-block;
}

p {
  margin: auto;
  border: 1em;
  display: inline-block;
}

ul, li {
  list-style: none;
  text-align: center;
  margin: auto;
  font-size: 1.5em;
}

.textboox {
  width: inherit;
}

.center {
  margin: auto;
  text-align: center;
}

.container {
  margin: 0;
  background-color: white;
  margin-top: 3em;
  margin-left: 2em;
}

.submitbutton {
  background-color: salmon;
  height: 6em;
  width: 8em;
  text-align: center;
  margin: auto;
}

.footer {
  margin-top: 0em;
  background-color: #e3f2fd;
  height: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .5em;
}